html {
    background-color: #636b65;
    font-family: Ubuntu;
}

nav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2f302f;
    color: white;
    overflow-x: hidden;
    padding-top: 10px;
    border-right-style: solid;
    border-right-width: 2px;
    border-color: #111;
    text-align: center;
}

nav p {
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: #111;
    background-color: #fff;
    padding: 6px 8px 6px 10px;
    text-decoration: none;
    font-size: 20px;
    color: #111;
    display: block;
    margin: 20px;
}

main, header, footer {
    margin-left: 160px;
}

header, footer {
    text-align: center;
}

header, div, footer p {
    border-style: solid;
    border-color: #111;
    border-width: 2px;
}

 footer p{
    background-color: #b0b8b2;
    font-size: 1em;
}

header {
    background-color: #cbd1cc;
    font-size: 1.9em;
}


/** Review Tables Styles **/
.table {
    display: grid;
    grid-template-columns: 0.25fr 0.25fr 2fr 1fr;
    grid-template-rows: repeat(7, 1fr);
    background-color: #b0b8b2;
    font-size: 1.5em;
}

img {
    max-width: 100%;
}

.titlehead {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    font-weight: bold;
}

.title {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.review {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: -1;
}

.statushead {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    font-weight: bold;
}

.status {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.airedhead {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    font-weight: bold;
}

.aired {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.directorhead {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    font-weight: bold;
}

.director {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}

.ratinghead {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
    font-weight: bold;
}

.rating {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
}

.startdatehead {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 7;
    font-weight: bold;
}

.startdate {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;
}

.completedatehead {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 7;
    grid-row-end: 8;
    font-weight: bold;
}

.completedate {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 7;
    grid-row-end: 8;
}

.movieposter {
    grid-column-start: 4;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: -1;
}
