html {
    background-color: #636b65;
    font-family: Ubuntu;
}

header, .footer, .navigation h2 {
    border-style: solid;
    border-width: 2px;
    border-color: #111;
    text-align: center;
}

header {
    background-color: #cbd1cc;
    font-size: 1.9em;
}

.footer, h2 {
    background-color: #b0b8b2;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.25em;
}

.navigation h2 {
    padding: 0.5em;
}

.footer {
    width: 10em;
    margin: auto;
}
